<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <connectionStrings>
        <add name="FeraleDBConnectionString" connectionString="Data Source=.;Initial Catalog=FeraleDB;User ID=sa;Password=Dsa12130" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <!--
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="Telerik.Windows.Controls" culture="neutral" publicKeyToken="5803cfa389c90ce7"/>
          <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="X.X.X.X"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Telerik.Windows.Controls.Input" culture="neutral" publicKeyToken="5803cfa389c90ce7"/>
          <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="X.X.X.X"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Telerik.Windows.Controls.Navigation" culture="neutral" publicKeyToken="5803cfa389c90ce7"/>
          <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="X.X.X.X"/>
        </dependentAssembly>
      </assemblyBinding>
    </runtime>
    -->
</configuration>
